<!DOCTYPE html>
<html lang="en">
<head>
    <title>Taller 3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SR Grupo 1 - Modelo Híbrido de Recomendaciones </a>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
      <div class="container">
          <br/>      
        <h1>Buscar una nueva recomendación</h1>
        <br>
        <form action="" method="POST" role="form">
          <div class="row form-group">
            <div class="col-md-3">
              <label>
                Usuario:
              </label>
              <br>
              <input type="text" name="user"  class="form-control">
            </div>
            <div class="col-md-3">
              <label>
                Sistema de recomendación:
              </label>
              <br>
              <select name="sr">
                <option value="ontologia">Ontologia</option>
                <option value="contenido">Contenido</option>
                <option value="pipeline">Pipeline</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary">Pedir Recomendación</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-3">
            <form action="/cargar" method="POST" role="form">
              <button type="submit" class="btn btn-secondary">Cargar Segundos datos</button>
            </form>
          </div>
          <div class="col-md-3">
            <form action="/cargar2" method="POST" role="form">
              <button type="submit" class="btn btn-secondary">Cargar Segundos datos</button>
            </form>
          </div>
        </div>
       
        <br>
        <br>
        {% if recomendacionesOntologia or recomendacionesContenido or ratingsOntologia or ratingsContenido %}
          <h2>Recomendaciones</h2>
        {% endif%}
        <div class="row">
          {% if recomendacionesOntologia%}
            <div class="col-md-3">
            <h4>Ontologia</h4>
            {% for value in recomendacionesOntologia %}
                <dd><a href="{{value}}" target="_blank">{{value}}</a></dd>
            {% endfor %}
            </div>
          {% endif%}
          {% if recomendacionesContenido%}
              <h4>Contenido</h4>
              <br>
              <div class="col-md-5">
                  <div class="row">
                {% for value in recomendacionesContenido %}
                <div class="col-md-3">
                  <dd><strong>{{value[0]}}</strong></dd>
                  <br>
                  <dd>{{value[1]}}</dd>
                </div>
                {% endfor %}
                </div>
              </div>
          {% endif%}
          {% if ratingsOntologia%}
            <div class="col-md-5">
              <h4>Ontologia</h4>
              {% for value in ratingsOntologia %}
                <dd><a href="{{value}}" target="_blank">{{value[0]}}</a></dd>
                <br>
                <dd>{{value[1]}}</dd>
                <br>
                <br>
              {% endfor %}
            </div>
          {% endif%}
          {% if ratingsContenido%}
              <h4>Contenido</h4>
              <br>
              <div class="col-md-5">
              {% for value in ratingsContenido %}
                <div class="col-md-3">
                  <dd><strong>{{value[0][0]}}</strong> {{value[0][1]}}</dd>
                  <strong>{{value[1]}}</strong>
                </div>
              {% endfor %}
              </div>
          {% endif%}
          </div>
          <br>
          <br>
          {% if moviesUsuario %}
          <h3>Ratings del usuario</h3>
          <div class="row">
            {% for value in moviesUsuario %}
              <div class="col-md-3">
                <dd><strong>{{value[0]}}</strong></dd>
                <br>
                <dd>{{value[1]}}</dd>
              </div>
            {% endfor %}
          </div>
          {% endif%}
      </div>
</body>
</html>